/* menghubungkan font */
@font-face {
    font-family: 'Viga-Regular';
    src: url(bootstrap4/font/Viga/Viga-Regular.ttf);
    src: url(bootstrap4/font/Viga/Viga-Regular.ttf) format(ttf),
        url(bootstrap4/font/Viga/Viga-Regular.ttf) format(truetype);
}
ul li{
    margin-left: 25px;
}
ul li a:hover{
    transform: translateY(-4px);
    margin-bottom: -5px;
   
    
}
.navbar{
    background-color:rgb(118, 118, 204) ;
    
}
.hero{
    height: 570px; 
    overflow: hidden;
}
.row{
    padding-top: 40px;
    justify-content: center;
    align-items: center;

}
.col-lg-6 h1{
    color: white;
    word-spacing: 3px;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.col-lg-6 p{
    color: #ddc4c4;
}

.col-lg-6 img{
    width: 430px;
    border-radius: 0 50% 0 50%;
}
.info-panel{
    box-shadow: 0 3px 20px rgba(0,0,0,5);
    border-radius: 12px;
    margin-top: -60px;
    padding: 40px;
    background-color: whitesmoke;
}
.info-panel img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.info-panel h4{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}
.info-panel p{
    font-size: 14px;
    color: #acacac;
    margin-top: -5px;
   font-weight: 200;    
}
.carousel-caption{
    color: black;
}






/* desktop version */
@media (min-width: 992px) {
   
   .info-panel{
    margin-top: -150px;
   }
   .col-lg-6 img{
    width: 530px;
   }
} 